<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myPerson" class="com.lean.spring.ioc.Person">
        <constructor-arg name="name" value="Mg Mg"/>
        <constructor-arg name="age" value="20"/>
    </bean>

    <bean id="myPerson2" class="com.lean.spring.ioc.Person">
        <constructor-arg name="name" value="aung aung"/>
        <constructor-arg name="age" value="30"/>
    </bean>

    <bean id="electricEngin" class="com.learn.spring.ioc.di.constructor.ElectricEngin">
    </bean>

    <bean id="teslaCar" class="com.learn.spring.ioc.di.constructor.TeslaCar">
        <constructor-arg name="engin" ref="electricEngin"/>
    </bean>

<!--    <bean id="setElectricEngin" class="com.learn.spring.ioc.di.setter.ElectricEngin">-->
<!--    </bean>-->

    <bean id="setTeslaCar" class="com.learn.spring.ioc.di.setter.TeslaCar">
        <property name="engin" ref="electricEngin" />
    </bean>


</beans>